{% extends "base.html" %}

{% block content %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg2.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Rick and Morty Lorem ipsum. There is no god, in your face! One dot muthafucka! You're growing up fast, Morty. You're going into a great big thorn straight into my ass. What are you looking at, mother fucker! Are you invisible and you're gonna, like, fart on me?</p>
        <p>Rick and Morty Lorem ipsum. It's a device Morty, that when you put it in your ear, you can enter people's dreams Morty. Its just like that movie that you keep crowing about. Existence is pain to a meeseeks Jerry, and we will do anything to alleviate that pain. Dont mind those stare goblins. Meeseeks were not born into this world fumbling for meaning, Jerry!</p>
        <p>Rick and Morty Lorem ipsum. My name is Slip- Slippery Stair. I'll take ya down there for 25 shmeckels! I was just killing some snaked up here like everyone else, I guess, and finishing the Christmas lights. Your blood will be my lotion! It's called carpe diem Morty. Look it up.</p>
      </div>
    </div>
  </div>
  <hr>
{% endblock %}
